# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/SeviciosProcesos/Tema 4/CifradoFichero/nbproject/private/
/SeviciosProcesos/Tema 4/CifradoFichero/build/
/SeviciosProcesos/Tema 4/CipherEjemplo/nbproject/private/
/SeviciosProcesos/Tema 4/CipherEjemplo/build/
/SeviciosProcesos/Tema 4/Chat4Hilos/nbproject/private/
/SeviciosProcesos/Tema 4/Chat4Hilos/build/
/AccesoDatos/SQLite/RepasoSQLite/nbproject/private/