# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AccesoDatos/Practica1/build/
/AccesoDatos/ProyectoAD/dist/
/SeviciosProcesos/Tema2/nbproject/private/
/SeviciosProcesos/Tema2/build/
/AccesoDatos/Tema1EjerciciosTokens/build/
/SeviciosProcesos/Tema 2/Multihilo/dist/
/SeviciosProcesos/Tema 2/MultihiloVentanas/nbproject/private/
/SeviciosProcesos/Tema 2/MultihiloPractica3/nbproject/private/
/SeviciosProcesos/Tema 2/MultihiloSumaEntreDosHilos/nbproject/private/
/SeviciosProcesos/Tema 2/MultihiloSumaEntreDosHilos/build/
/SeviciosProcesos/Tema 2/MultihiloNnumeroDeHilos/nbproject/private/
/SeviciosProcesos/TODO/New Folder/Tema1/nbproject/private/
/SeviciosProcesos/TODO/New Folder/Tema1/build/
/SeviciosProcesos/Tema 1/CreacionDeProcesos/nbproject/private/
/SeviciosProcesos/Tema 1/CreacionDeProcesos/build/
/SeviciosProcesos/Tema 1/CreacionDeProcesos2/nbproject/private/
/SeviciosProcesos/Tema 1/CreacionDeProcesos2/build/
/SeviciosProcesos/Tema 1/TerminacionDeProcesos/nbproject/private/
/SeviciosProcesos/Tema 1/TerminacionDeProcesos/build/
/SeviciosProcesos/Tema 1/ProcessBuilder/nbproject/private/
/SeviciosProcesos/Tema 1/ProcessBuilder1/nbproject/private/
/SeviciosProcesos/Tema 1/ProcessBuilder1/build/
/SeviciosProcesos/Tema 1/ComunicacionDeProcesos/build/
/SeviciosProcesos/Tema 1/SincronizacionDeProcesos/nbproject/private/
/SeviciosProcesos/Tema 1/SincronizacionDeProcesos/build/
/SeviciosProcesos/Tema 1/MultiProcesos/nbproject/private/
/SeviciosProcesos/Tema 1/MultiProcesos/build/
/SeviciosProcesos/Tema 1/ProcessBuilder2/nbproject/private/
/SeviciosProcesos/Tema 1/ProcessBuilderFichero/nbproject/private/
/SeviciosProcesos/Tema 1/ProcessBuilderFichero2/nbproject/private/
/SeviciosProcesos/Tema 1/ProcessBuilderFichero2/build/
/SeviciosProcesos/Tema 1/LeerFicheros/nbproject/private/
/SeviciosProcesos/Tema 1/ProcesosAleatorios/nbproject/private/
/SeviciosProcesos/Tema 1/ProcesosAleatorios/build/
/SeviciosProcesos/Tema 2/ExtendHelloThread/nbproject/private/
/SeviciosProcesos/Tema 2/HelloThread/nbproject/private/
/SeviciosProcesos/Tema 2/HelloThread/build/
/SeviciosProcesos/Tema 2/MultihiloNnumeroDeHilos/build/
/SeviciosProcesos/Tema 2/MultihiloNnumeroDeHilos/dist/
/SeviciosProcesos/Tema 2/TestingAwl/nbproject/private/
/SeviciosProcesos/Tema 2/TestingAwl/build/
/SeviciosProcesos/Tema 2/Tema1Repaso/nbproject/private/
/SeviciosProcesos/Tema 2/Tema1Repaso/build/