<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alumnot.xml_interno_lista"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=""
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="" />
                <category android:name="" />
            </intent-filter>
        </activity>
    </application>
</manifest>
